<h1 class="mdl-cell mdl-cell--12-col">{{name}}</h1>
<style>
    .row-unstarted {
        background-color: lightblue;
    }
    .row-unsolved {
        background-color: indianred;
    }
    .row-solved {
        background-color: lightgreen;
    }
</style>
<pre class="mdl-cell mdl-cell--12-col">{{description}}</pre>
<div class="mdl-cell row-{{status}} mdl-cell--12-col"><h3>Status:</h3>{{status}}</div>
<div class="mdl-cell mdl-cell--12-col"><h3>Type:</h3>{{type}}</div>
<div class="mdl-cell mdl-cell--12-col"><h3>Users:</h3>
    {{#each members}}
        <span>{{@key}}</span>
    {{/each}}
</div>
<style>
    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: #CCC;
    }
    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>
<h2 class="mdl-cell mdl-cell--12-col">Files</h2>
{{#each files}}
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{name}}</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url}}">
            Download
        </a>
    </div>
</div>
{{/each}}