{{setTitle "Link"}}
<h1 class="mdl-cell--12-col">Link accounts</h1><br>
<button class="mdl-cell--4-col mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="google-link">Google</button>
<button class="mdl-cell--4-col mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="github-link">GitHub</button>
<button class="mdl-cell--4-col mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="facebook-link">Facebook</button>