<table>
    <tr>
        <th>
            Attribute
        </th>
        <th>
            Value
        </th>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            {{user.name}}
        </td>
    </tr>
</table>