{{setTitle name}}
<table>
    <tr>
        <th>
            Attribute
        </th>
        <th>
            Value
        </th>
    </tr>
    <tr>
        <td>
            Name
        </td>
        <td>
            {{name}}
        </td>
    </tr>
</table>