#statusBar {
    width: 100%;
    display: none
}

.back-unstarted {
    background-color: lightblue;
}
.back-unsolved {
    background-color: indianred;
}
.back-solved {
    background-color: lightgreen;
}
.tall-button {
    height:3em;
}

.card-title {
    height: 176px;
}

.plain-card-title {
    color: #fff;
    height: 176px;
    background-color: #CCC !important;
}