$status_saturation: 79%;
$status_brightness: 64%;

$unstarted: hsla(0, $status_saturation, $status_brightness, 0.5);
$unsolved: hsla(30, $status_saturation, $status_brightness, 0.5);
$solved: hsla(124, $status_saturation, $status_brightness, 0.5);

#page-content {
    background: white;
}

main {
    display: flex;
}

#statusBar {
    display: none;
    width: 100%;
}

.back-unstarted {
    background-color: $unstarted;
}

.back-unsolved {
    background-color: $unsolved;
}

.back-solved {
    background-color: $solved;
}

.tall-button {
    height: 3em;
}

.card-title {
    height: 176px;
}

.plain-card-title {
    background-color: #CCC;
    color: #fff;
    height: 176px;
}

.upload-card {
    background: url('https://cdn.rawgit.com/google/material-design-icons/master/file/svg/production/ic_cloud_upload_48px.svg') center / cover #CCC;
}

.mdl-list__item--three-line .mdl-list__item-primary-content {
    height: auto;
}

.mdl-list__item {
    height: auto;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
    height: auto;
}

.square-icon {
    background-size: 100%;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 2em;
    width: 2em;
}

.message-icon {
    background-size: 100%;
    border-radius: 0.3em;
}

.mdl-dialog {
    width: 50%;
}

.message-pre {
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
}

.right {
    float: right;
}

.inline-title {
    display: inline-block;
}

.centered-big-icon {
    height: 20em;
    margin: auto;
    width: 20em;
    box-shadow: 1em 1em 1em;
    padding: 0;
    border-radius: 3em;
}

.bottom-right-add {
    position: absolute;
    bottom: 2em;
    right: 2em;
}
.progressbar.bar {
    background-color: #eb641e !important;
}
