<!--TEMPLATE-->
<style>
    .row-unsolved {
        background-color: indianred;
    }
    .row-solved {
        background-color: lightgreen;
    }
</style>
<table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
    <tr>
        <th>Challenge</th>
        <th>Type</th>
        <th>Status</th>
        <th>Users</th>
    </tr>
    {{#each challenges}}
    <tr class="row-{{status}}">
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{status}}</td>
        <td>
            {{#each members}}
                <pre>{{@key}}</pre>
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>