<h1>Please login</h1>
<button onclick="firebase.auth().signInWithPopup(new firebase.auth.GoogleAuthProvider())"></button>
<script>
    $(".mdl-layout__drawer-button").hide();
    var first = true;
    firebase.auth().onAuthStateChanged(function (user) {
        if (first) {
            if (user) {
                first = false;
                $(".mdl-layout__drawer-button").show();
                var currentUser = firebase.database().ref("/users/" + user.uid);
                console.log(user);
                currentUser.set({
                    "uid": user.uid,
                    "name": user.displayName,
                    "image": user.photoURL
                });
                load_index();
                var myConnectionsRef = currentUser.ref('connections');
                var lastOnlineRef = currentUser.ref('lastOnline');

                var connectedRef = firebase.database().ref('.info/connected');
                connectedRef.on('value', function(snap) {
                    if (snap.val() === true) {
                        var con = myConnectionsRef.push(true);
                        con.onDisconnect().remove();
                        lastOnlineRef.onDisconnect().set(firebase.database.ServerValue.TIMESTAMP);
                    }
                });
            }
        }
    });
</script>